[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.24.4"
torch = "*"
torchvision = "==0.15.0"
torchaudio = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.8"
